Repository sebc-dev/sebc.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, content

prettier:
  run: npx prettier --check {staged_files}

eslint:
  run: npx eslint {staged_files}

content:
  run: npx markdownlint-cli2 {staged_files}

docs(05): capture phase context
  .planning/phases/05-about-page/05-CONTEXT.md
Due: prettier

docs(05): research phase domain
  .planning/phases/05-about-page/05-RESEARCH.md
Due: prettier

docs(05): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-about-page/05-01-PLAN.md
  .planning/phases/05-about-page/05-02-PLAN.md
Due: prettier

fix(05): revise plans based on checker feedback
  .planning/phases/05-about-page/05-01-PLAN.md
  .planning/phases/05-about-page/05-02-PLAN.md
Due: prettier

feat(05-01): add about page i18n keys and pillar tag indexing
  astro.config.mjs
  src/i18n/ui.ts
  src/layouts/ArticleLayout.astro
Due: prettier, eslint

feat(05-01): create PillarBlock component
  src/components/about/PillarBlock.astro
Due: prettier, eslint

docs(05-01): complete about page foundation plan
  .planning/STATE.md
  .planning/phases/05-about-page/05-01-SUMMARY.md
Due: prettier

feat(05-02): implement About page with hero, pillar blocks, social icons, and CTA
  public/images/.gitkeep
  src/pages/en/about.astro
  src/pages/fr/about.astro
Due: prettier, eslint

docs(05-02): update state for checkpoint
  .planning/STATE.md
Due: prettier

fix(05-02): remove trailing slash from CTA links
  src/pages/en/about.astro
  src/pages/fr/about.astro
Due: prettier, eslint

docs(05-02): complete about page plan
  .planning/STATE.md
  .planning/phases/05-about-page/05-02-SUMMARY.md
Due: prettier

docs(phase-5): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/05-about-page/05-VERIFICATION.md
Due: prettier

docs(phase-6): research SEO, polish & deployment domain
  .planning/phases/06-seo-polish-deployment/06-RESEARCH.md
Due: prettier

docs(06): create phase 6 plan -- SEO, View Transitions, deployment polish
  .planning/ROADMAP.md
  .planning/phases/06-seo-polish-deployment/06-01-PLAN.md
  .planning/phases/06-seo-polish-deployment/06-02-PLAN.md
  .planning/phases/06-seo-polish-deployment/06-03-PLAN.md
Due: prettier

feat(06-01): add SEO components and RSS feed endpoints
  package-lock.json
  package.json
  src/components/seo/JsonLd.astro
  src/components/seo/SEO.astro
  src/pages/en/rss.xml.ts
  src/pages/fr/rss.xml.ts
Due: prettier, eslint

feat(06-01): wire SEO and JsonLd into layouts with translationMap on all pages
  src/layouts/ArticleLayout.astro
  src/layouts/BaseLayout.astro
  src/pages/en/about.astro
  src/pages/en/index.astro
  src/pages/en/search.astro
  src/pages/fr/about.astro
  src/pages/fr/index.astro
  src/pages/fr/search.astro
Due: prettier, eslint

docs(06-01): complete SEO infrastructure plan
  .planning/STATE.md
  .planning/phases/06-seo-polish-deployment/06-01-SUMMARY.md
Due: prettier

feat(06-02): add ClientRouter and migrate BaseLayout + ArticleLayout scripts to astro:page-load
  src/layouts/ArticleLayout.astro
  src/layouts/BaseLayout.astro
Due: prettier, eslint

feat(06-02): migrate remaining 5 component/page scripts to astro:page-load
  src/components/article/CategoryFilter.astro
  src/components/article/ShareButtons.astro
  src/components/article/TableOfContents.astro
  src/components/ui/ReadingProgress.astro
  src/pages/en/search.astro
  src/pages/fr/search.astro
Due: prettier, eslint

docs(06-02): complete View Transitions plan
  .planning/STATE.md
  .planning/phases/06-seo-polish-deployment/06-02-SUMMARY.md
Due: prettier

feat(06-03): create default OG image and update Lighthouse CI config
  lighthouserc.json
  public/images/og-default.png
Due: prettier

docs(06-03): complete quality validation and deployment polish plan
  .planning/STATE.md
  .planning/phases/06-seo-polish-deployment/06-03-SUMMARY.md
Due: prettier

docs(phase-6): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/06-seo-polish-deployment/06-VERIFICATION.md
Due: prettier

fix: resolve 3 critical audit issues (security headers, page dedup, E2E tests)
  AUDIT.md
  e2e/smoke.spec.ts
  public/_headers
  src/pages/[lang]/about.astro
  src/pages/[lang]/articles/[id].astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/rss.xml.ts
  src/pages/[lang]/search.astro
  src/pages/fr/about.astro
  src/pages/fr/articles/[id].astro
  src/pages/fr/index.astro
  src/pages/fr/rss.xml.ts
  src/pages/fr/search.astro
Due: prettier, eslint

feat: add 26 articles, Pagination component, and i18n/config updates
  .gitignore
  src/components/article/CategoryFilter.astro
  src/components/ui/Pagination.astro
  src/content/articles/en-ai-code-review.mdx
  src/content/articles/en-ai-testing-strategies.mdx
  src/content/articles/en-animation-performance.mdx
  src/content/articles/en-cognitive-load-ui.mdx
  src/content/articles/en-design-tokens-figma.mdx
  src/content/articles/en-edge-computing-cloudflare.mdx
  src/content/articles/en-llm-prompt-engineering.mdx
  src/content/articles/en-micro-frontends.mdx
  src/content/articles/en-rag-architecture.mdx
  src/content/articles/en-rust-wasm-performance.mdx
  src/content/articles/en-ux-research-methods.mdx
  src/content/articles/en-web-accessibility-guide.mdx
  src/content/articles/fr-architecture-rag.mdx
  src/content/articles/fr-charge-cognitive-ui.mdx
  src/content/articles/fr-design-tokens-figma.mdx
  src/content/articles/fr-edge-computing-cloudflare.mdx
  src/content/articles/fr-guide-accessibilite-web.mdx
  src/content/articles/fr-methodes-recherche-ux.mdx
  src/content/articles/fr-micro-frontends.mdx
  src/content/articles/fr-performance-animations.mdx
  src/content/articles/fr-prompt-engineering-llm.mdx
  src/content/articles/fr-revue-code-ia.mdx
  src/content/articles/fr-rust-wasm-performance.mdx
  src/content/articles/fr-strategies-test-ia.mdx
  src/i18n/ui.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier, eslint, content

fix: resolve 14 audit issues (i18n, a11y, security, CI)
  .github/workflows/quality.yml
  src/components/article/ArticleCard.astro
  src/components/article/ArticleHeader.astro
  src/components/article/CategoryFilter.astro
  src/components/article/FeaturedArticle.astro
  src/components/article/ShareButtons.astro
  src/components/article/TableOfContents.astro
  src/components/layout/Header.astro
  src/components/layout/LangSwitch.astro
  src/components/seo/JsonLd.astro
  src/components/ui/Pagination.astro
  src/components/ui/ReadingProgress.astro
  src/content/articles/en-css-container-queries.mdx
  src/content/articles/fr-css-container-queries.mdx
  src/env.d.ts
  src/i18n/ui.ts
  src/i18n/utils.test.ts
  src/i18n/utils.ts
  src/layouts/ArticleLayout.astro
Due: prettier, eslint, content

docs: update AUDIT.md to reflect resolved issues (25 → 10)
  AUDIT.md
Due: prettier

fix: resolve 8 remaining audit issues (deps, types, fonts, 404, CI)
  .github/workflows/deploy.yml
  AUDIT.md
  lighthouserc.json
  package-lock.json
  package.json
  src/components/about/PillarBlock.astro
  src/layouts/BaseLayout.astro
  src/lib/pillarTags.ts
  src/pages/404.astro
  src/pages/[lang]/about.astro
  src/pages/[lang]/search.astro
  src/styles/global.css
Due: prettier, eslint

refactor: extract CATEGORIES as single source of truth with stronger typing
  src/components/article/CategoryFilter.astro
  src/content.config.ts
  src/content/articles/en-ai-code-review.mdx
  src/content/articles/en-cognitive-load-ui.mdx
  src/content/articles/en-css-container-queries.mdx
  src/content/articles/en-edge-computing-cloudflare.mdx
  src/content/articles/en-llm-prompt-engineering.mdx
  src/content/articles/en-typescript-patterns.mdx
  src/content/articles/fr-charge-cognitive-ui.mdx
  src/content/articles/fr-css-container-queries.mdx
  src/content/articles/fr-edge-computing-cloudflare.mdx
  src/content/articles/fr-patterns-typescript.mdx
  src/content/articles/fr-prompt-engineering-llm.mdx
  src/content/articles/fr-revue-code-ia.mdx
  src/i18n/utils.ts
  src/lib/articles.ts
  src/lib/categories.ts
  src/lib/filterCounts.ts
  src/pages/[lang]/search.astro
Due: prettier, eslint, content

feat: replace header text logo with SVG outline logo
  public/logos/logo_outline_color.svg
  src/components/layout/Header.astro
Due: prettier, eslint

feat: refactor search filters to combobox, move taxonomy to article sidebar
  package.json
  public/_headers
  src/components/article/ArticleHeader.astro
  src/i18n/ui.ts
  src/layouts/ArticleLayout.astro
  src/lib/articles.ts
  src/lib/filterCounts.test.ts
  src/lib/filterCounts.ts
  src/pages/[lang]/search.astro
  src/styles/global.css
Due: prettier, eslint

feat: use same SVG logo in footer as header
  src/components/layout/Footer.astro
Due: prettier, eslint

chore: migrate to Astro 6 and Cloudflare Workers
  .github/workflows/deploy.yml
  CLAUDE.md
  astro.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  src/env.d.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier, eslint

feat(about): replace placeholder content with real bio, portrait, and social links
  public/images/portrait.webp
  src/components/layout/Footer.astro
  src/i18n/ui.ts
  src/pages/[lang]/about.astro
Due: prettier, eslint

content(fr): add observability guide article
  src/content/articles/fr-guide-complet-observabilite.mdx
Due: prettier, content

chore: add astro-docs MCP server and switch statusline to scd-astro plugin
  .claude/settings.json
  .mcp.json
Due: prettier

fix(article): correct TOC link navigation and active highlight
  src/components/article/TableOfContents.astro
  src/styles/global.css
Due: prettier, eslint

content: decode literal unicode escapes in articles
  src/content/articles/en-building-design-system.mdx
  src/content/articles/en-css-container-queries.mdx
  src/content/articles/en-typescript-patterns.mdx
  src/content/articles/fr-construire-design-system.mdx
  src/content/articles/fr-css-container-queries.mdx
  src/content/articles/fr-guide-complet-observabilite.mdx
  src/content/articles/fr-patterns-typescript.mdx
Due: prettier, content

chore: migrate to Astro 7 and serve from Workers Static Assets
  .github/workflows/deploy.yml
  .prettierignore
  CLAUDE.md
  astro.config.mjs
  eslint.config.js
  knip.json
  lefthook.yml
  package-lock.json
  package.json
  public/_redirects
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier, eslint

Path conditions:
  prettier: any of: *.{ts,tsx,js,jsx,json,css,astro,md,mdx}
  eslint: any of: *.{ts,tsx,js,jsx,astro}, but not: worker-configuration.d.ts
  content: any of: src/content/**/*.{md,mdx}
