Repository sebc-dev/sebc.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, content

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,astro,md,mdx}"
      run: npx prettier --check {staged_files}
    eslint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      exclude: "worker-configuration.d.ts"
      run: npx eslint {staged_files}
    content:
      glob: "src/content/**/*.{md,mdx}"
      run: npx markdownlint-cli2 {staged_files}

chore: enable the cloudflare plugin
  .claude/settings.json
Due: prettier

ci: keep auto-deploy disabled on push to main
  .github/workflows/deploy.yml
Due: none

fix: resolve npm audit vulnerabilities blocking CI
  package-lock.json
  package.json
Due: prettier

fix: Lighthouse CI probes wrong port, causing a Chrome interstitial
  lighthouserc.json
Due: prettier

fix: LHCI startServerCommand needs npx to find wrangler
  lighthouserc.json
Due: prettier

chore: migrate to Astro 7 and serve from Workers Static Assets
  .github/workflows/deploy.yml
  .prettierignore
  CLAUDE.md
  astro.config.mjs
  eslint.config.js
  knip.json
  lefthook.yml
  package-lock.json
  package.json
  public/_redirects
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier, eslint
