Repository sebc-dev/sebc.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, content

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,astro,md,mdx}"
      run: npx prettier --check {staged_files}
    eslint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      exclude: "worker-configuration.d.ts"
      run: npx eslint {staged_files}
    content:
      glob: "src/content/**/*.{md,mdx}"
      run: npx markdownlint-cli2 {staged_files}

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier

docs: initialize project
  .planning/PROJECT.md
Due: prettier

chore: add project config
  .planning/config.json
Due: prettier

docs: complete domain research (4 dimensions)
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier

docs: define v1 requirements
  .planning/REQUIREMENTS.md
Due: prettier

docs: create roadmap (6 phases)
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
Due: prettier

docs(phase-1): research foundation phase domain
  .planning/phases/01-foundation/01-RESEARCH.md
Due: prettier

docs(01-foundation): create phase plan (3 plans, 3 waves)
  .planning/ROADMAP.md
  .planning/phases/01-foundation/01-01-PLAN.md
  .planning/phases/01-foundation/01-02-PLAN.md
  .planning/phases/01-foundation/01-03-PLAN.md
Due: prettier

feat(01-01): create i18n translation system
  src/i18n/ui.ts
  src/i18n/utils.ts
Due: prettier, eslint

feat(01-01): create GlowLine component and add WCAG contrast docs
  src/components/ui/GlowLine.astro
  src/styles/global.css
Due: prettier, eslint

docs(01-01): complete i18n + GlowLine + WCAG plan
  .planning/STATE.md
  .planning/phases/01-foundation/01-01-SUMMARY.md
Due: prettier

feat(01-02): create Nav and LangSwitch layout components
  src/components/layout/LangSwitch.astro
  src/components/layout/Nav.astro
Due: prettier, eslint

feat(01-02): create Header and Footer layout components
  src/components/layout/Footer.astro
  src/components/layout/Header.astro
Due: prettier, eslint

docs(01-02): complete layout shell components plan
  .planning/STATE.md
  .planning/phases/01-foundation/01-02-SUMMARY.md
Due: prettier

feat(01-03): integrate layout shell and create placeholder pages
  src/layouts/BaseLayout.astro
  src/pages/404.astro
  src/pages/en/about.astro
  src/pages/en/index.astro
  src/pages/en/search.astro
  src/pages/fr/about.astro
  src/pages/fr/index.astro
  src/pages/fr/search.astro
Due: prettier, eslint

docs(01-03): complete BaseLayout integration plan
  .planning/STATE.md
  .planning/phases/01-foundation/01-03-SUMMARY.md
Due: prettier

docs(phase-1): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/01-foundation/01-VERIFICATION.md
Due: prettier

docs(phase-2): research home page domain
  .planning/phases/02-home-page/02-RESEARCH.md
Due: prettier

docs(02-home-page): create phase plan
  .planning/ROADMAP.md
  .planning/phases/02-home-page/02-01-PLAN.md
  .planning/phases/02-home-page/02-02-PLAN.md
Due: prettier

feat(02-01): create seed MDX articles and i18n strings for home page
  src/content/articles/en-building-design-system.mdx
  src/content/articles/en-css-container-queries.mdx
  src/content/articles/en-typescript-patterns.mdx
  src/content/articles/fr-construire-design-system.mdx
  src/content/articles/fr-css-container-queries.mdx
  src/content/articles/fr-patterns-typescript.mdx
  src/i18n/ui.ts
Due: prettier, eslint, content

feat(02-01): create article data access layer and date formatting utility
  src/lib/articles.ts
  src/utils/dates.ts
Due: prettier, eslint

feat(02-01): create Tag component with 3 visual variants
  src/components/ui/Tag.astro
Due: prettier, eslint

docs(02-01): complete data foundation plan
  .planning/STATE.md
  .planning/phases/02-home-page/02-01-SUMMARY.md
Due: prettier

feat(02-02): create FeaturedArticle, ArticleCard, and CategoryFilter components
  src/components/article/ArticleCard.astro
  src/components/article/CategoryFilter.astro
  src/components/article/FeaturedArticle.astro
Due: prettier, eslint

feat(02-02): wire article components into EN and FR home pages
  src/pages/en/index.astro
  src/pages/fr/index.astro
Due: prettier, eslint

fix(02-02): use direct call + astro:after-swap instead of astro:page-load
  src/components/article/CategoryFilter.astro
  src/layouts/BaseLayout.astro
Due: prettier, eslint

docs(02-02): complete home page components plan
  .planning/STATE.md
  .planning/phases/02-home-page/02-02-SUMMARY.md
Due: prettier

docs(phase-2): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/02-home-page/02-VERIFICATION.md
Due: prettier

docs(phase-3): research article page domain
  .planning/phases/03-article-page/03-RESEARCH.md
Due: prettier

docs(03-article-page): create phase plan (2 plans, 2 waves)
  .planning/ROADMAP.md
  .planning/phases/03-article-page/03-01-PLAN.md
  .planning/phases/03-article-page/03-02-PLAN.md
Due: prettier

feat(03-01): configure Expressive Code and rehype heading anchors
  astro.config.mjs
  package-lock.json
  package.json
  src/styles/global.css
Due: prettier

feat(03-01): extend article data layer and add i18n strings
  src/i18n/ui.ts
  src/lib/articles.ts
Due: prettier, eslint

docs(03-01): complete article page foundation plan
  .planning/STATE.md
  .planning/phases/03-article-page/03-01-SUMMARY.md
Due: prettier

feat(03-02): create article page components
  src/components/article/ArticleHeader.astro
  src/components/article/PillarTag.astro
  src/components/article/RelatedArticles.astro
  src/components/article/ShareButtons.astro
  src/components/article/TableOfContents.astro
  src/components/ui/ReadingProgress.astro
Due: prettier, eslint

feat(03-02): create ArticleLayout and dynamic article routes
  src/layouts/ArticleLayout.astro
  src/pages/en/articles/[id].astro
  src/pages/fr/articles/[id].astro
Due: prettier, eslint

docs(03-02): update STATE.md to checkpoint position
  .planning/STATE.md
Due: prettier

fix(03-02): add code blocks to seed articles for Expressive Code verification
  src/content/articles/en-building-design-system.mdx
  src/content/articles/en-typescript-patterns.mdx
  src/content/articles/fr-construire-design-system.mdx
  src/content/articles/fr-patterns-typescript.mdx
Due: prettier, content

fix(03-02): move rehype plugins to top-level markdown config
  astro.config.mjs
Due: none

fix(03-02): restyle Expressive Code to match design mockup
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): fix EC header — red line, copy button position, language labels
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint
