Repository sebc-dev/sebc.dev: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, content

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{ts,tsx,js,jsx,json,css,astro,md,mdx}"
      run: npx prettier --check {staged_files}
    eslint:
      glob: "*.{ts,tsx,js,jsx,astro}"
      exclude: "worker-configuration.d.ts"
      run: npx eslint {staged_files}
    content:
      glob: "src/content/**/*.{md,mdx}"
      run: npx markdownlint-cli2 {staged_files}

fix(03-02): language label right in header, copy button in code block
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): remove border from EC copy button
  src/styles/global.css
Due: prettier

fix(03-02): use translationSlug for article language switching
  src/components/layout/Header.astro
  src/components/layout/LangSwitch.astro
  src/layouts/ArticleLayout.astro
  src/layouts/BaseLayout.astro
Due: prettier, eslint

feat(03-02): add mobile TOC with floating button and slide-in panel
  src/layouts/ArticleLayout.astro
Due: prettier, eslint

feat(03-02): tap-to-copy code blocks on mobile
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): use width breakpoint for mobile code copy detection
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): mobile copy feedback as centered pill badge on code block
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): place mobile copy badge on frame container, centered
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): mobile copy toast as fixed pill above FAB button
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): align mobile TOC button with design system (rounded-xs)
  src/layouts/ArticleLayout.astro
Due: prettier, eslint

fix(03-02): use rounded-xs on copy toast, restore TOC FAB button
  src/layouts/ArticleLayout.astro
  src/styles/global.css
Due: prettier, eslint

fix(03-02): use theme teal for EC copy tooltip on desktop
  src/styles/global.css
Due: prettier

fix(03-02): add teal color to EC tooltip arrow
  src/styles/global.css
Due: prettier

docs(03-02): complete article components plan with summary
  .planning/STATE.md
  .planning/phases/03-article-page/03-02-SUMMARY.md
Due: prettier

docs(phase-3): complete phase verification and mark done
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-article-page/03-VERIFICATION.md
Due: prettier

add CLAUDE.md and quality report script
  CLAUDE.md
  scripts/quality-report.sh
Due: prettier

test: add unit tests for dates, i18n and articles modules
  scripts/quality-report.sh
  src/i18n/utils.test.ts
  src/lib/articles.test.ts
  src/utils/dates.test.ts
Due: prettier, eslint

test: harden tests to kill all mutation survivors
  src/lib/articles.test.ts
  stryker.config.mjs
Due: prettier, eslint

chore: add knip config and remove unused @lhci/cli
  knip.json
  package-lock.json
  package.json
Due: prettier

docs: move project documentation to docs/
  docs/Stack CI.md
  docs/architecture_information.md
  docs/brief.md
  docs/design-research/about.html
  docs/design-research/article.html
  docs/design-research/design-report.md
  docs/design-research/home.html
  docs/design-research/recherche.html
Due: prettier

chore: add Claude Code config, skills and agents
  .claude/agents/gsd-codebase-mapper.md
  .claude/agents/gsd-debugger.md
  .claude/agents/gsd-executor.md
  .claude/agents/gsd-integration-checker.md
  .claude/agents/gsd-phase-researcher.md
  .claude/agents/gsd-plan-checker.md
  .claude/agents/gsd-planner.md
  .claude/agents/gsd-project-researcher.md
  .claude/agents/gsd-research-synthesizer.md
  .claude/agents/gsd-roadmapper.md
  .claude/agents/gsd-verifier.md
  .claude/settings.json
Due: prettier

chore: gitignore coverage reports
  .gitignore
Due: none

ci: disable auto-deploy on push to main
  .github/workflows/deploy.yml
Due: none

docs(04): capture phase context for search page
  .planning/phases/04-search-page/04-CONTEXT.md
Due: prettier

docs(04): research Pagefind JS API and search page architecture
  .planning/phases/04-search-page/04-RESEARCH.md
Due: prettier

docs(04): create search page phase plans
  .planning/ROADMAP.md
  .planning/phases/04-search-page/04-01-PLAN.md
  .planning/phases/04-search-page/04-02-PLAN.md
  .planning/phases/04-search-page/04-03-PLAN.md
Due: prettier

feat(04-01): instrument ArticleLayout with Pagefind indexing attributes
  src/layouts/ArticleLayout.astro
  src/pages/en/search.astro
  src/pages/fr/search.astro
Due: prettier, eslint

feat(04-01): add getTags helper and search i18n strings
  src/i18n/ui.ts
  src/lib/articles.ts
Due: prettier, eslint

docs(04-01): complete Pagefind indexing plan
  .planning/STATE.md
  .planning/phases/04-search-page/04-01-SUMMARY.md
Due: prettier

feat(04-02): build EN search page with Pagefind integration
  src/pages/en/search.astro
Due: prettier, eslint

feat(04-02): create FR search page with French translations
  src/pages/fr/search.astro
Due: prettier, eslint

docs(04-02): complete search page UI plan
  .planning/STATE.md
  .planning/phases/04-search-page/04-02-SUMMARY.md
Due: prettier

feat(04-03): add search pre-filter links to category badges and tags
  src/components/article/ArticleCard.astro
  src/components/article/ArticleHeader.astro
  src/components/ui/Tag.astro
  src/layouts/ArticleLayout.astro
Due: prettier, eslint

feat(04-03): add date/reading time filters, custom calendar, FeaturedArticle pre-filter links
  src/components/article/FeaturedArticle.astro
  src/i18n/ui.ts
  src/pages/en/search.astro
  src/pages/fr/search.astro
Due: prettier, eslint

docs(04-03): complete search pre-filter and verification plan
  .planning/STATE.md
  .planning/phases/04-search-page/04-03-SUMMARY.md
Due: prettier

docs(phase-4): complete phase execution
  .planning/ROADMAP.md
  .planning/phases/04-search-page/04-VERIFICATION.md
Due: prettier

test(articles): add getTags coverage to reach 100%
  src/lib/articles.test.ts
Due: prettier, eslint

refactor: extract inline logic from components into testable lib modules
  src/components/article/PillarTag.astro
  src/components/article/ShareButtons.astro
  src/lib/filterCounts.test.ts
  src/lib/filterCounts.ts
  src/lib/pillarTags.test.ts
  src/lib/pillarTags.ts
  src/lib/shareUrls.test.ts
  src/lib/shareUrls.ts
  src/pages/en/search.astro
  src/pages/fr/search.astro
Due: prettier, eslint

fix(cloudflare): add process env compat flag and CDN cache headers
  public/_headers
  wrangler.jsonc
Due: none
